/* container */
.install-btn-container {
  position: absolute;
  top: 20px; /* Adjust vertical position */
  right: 20px; /* Adjust horizontal position */
  z-index: 1000; /* Ensure it is above other elements */  
}

/* actual button */
.install-btn {
  background-color: hsl(201, 99%, 46%); 
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.install-btn:hover {
  background-color: #00b7ff; /* Darker green */
}