h1 {
  text-align: center;
}
h3 {
  margin-left: -2.16em;
}
ul {
  text-align: -webkit-center;
  background: black;
}
li {
  width: 94%;
  list-style-type: none;
}
.list-container  {
  display: flex;
}
.color-red { color: rgb(255, 207, 48); }
.color-yellow { color: yellow; }
.color-green { color: #4FFFB0; }
.color-blue { color: blue; }
.color-purple { color: rgb(178, 94, 252); }
.color-orange { color: orange; }
.color-magenta { color: rgb(255, 77, 0); }