h1{
  text-align: center;
}
h3{
  margin-left: -2.16em;
}
ul{
background: black;
}
/* .results-container {
  text-align: center;
} */
/* 
.results-list {
  width: 100%;
  text-align: center;
  background: black;
} */

/* .result-item {
  text-align: center;
  width: 50%;
  list-style-type: none;
} */
